#intro
  %h1= (@page.intro.blank? ? (@page.title) : (@page.intro))
#content
  #main
    = @page.body.markdown.html_safe
  #sidebar
    = image_tag(@page.image.url, :alt => (@page.title)) if @page.image?
    -# = render :partial => '/sidebar'
